body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('images/tv 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.play-button {
    font-size: 50px;
    background:transparent;
    border: transparent;
    
}